.black{
    background: rgb(0, 0, 0);
    width: 6.25em;
    height: 6.25em;
}

.white{
    background-color: rgb(255, 255, 255);
    width: 6.25em;
    height: 6.25em;
}

.container {
    border: solid 8px rgb(86, 85, 85);
}

table {
    border-collapse: collapse;
}

